<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Time Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">TIME TRACKER</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary">Task</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon slot="start" name="chevron-forward"></ion-icon>
          <ion-input placeholder="Type the name of the task" [(ngModel)]="taskName"></ion-input>
          <ion-button [color]="seconds === 0 ? 'success' : 'danger'" (click)="toggleTimer()">{{ seconds === 0 ? 'Start' : 'Stop' }}</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title color="primary"><u>Summary</u></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            Tasks done:
          </ion-list-header>
          <ion-item *ngFor=""></ion-item>
        </ion-list>
        <ion-item-divider></ion-item-divider>
        <ion-item><ion-label>Total working day time:</ion-label></ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
